---
import "../styles/style.scss";
---

<header>
    <div class="menu_toggle">
        <span></span>
    </div>

    <div class="logo">
        <p><span>Luxe </span>CAMERA</p>
    </div>
    
    <nav>
        <ul>
            <li><a href="home">Accueil</a></li>
            <li><a href="produit">Nos Cameras</a></li>
            <li><a href="contacts">Contact</a></li>
        </ul>
    </nav>
</header>
