---
const { title } = Astro.props;
import WebHeader from '../components/Web-Header.astro';
import WebFooter from '../components/Web-Footer.astro';
import "../styles/style.scss"; 
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="Assets/logo.ico">

    <title>{title || "Luxe Camera"}</title>

  </head>
  <body>
    <WebHeader />
    

    <main>
      <slot /> 
    </main>
    
    <WebFooter />
  </body>
</html>

